.videoThumbnail {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  img {
    width: 100%;
    display: block;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .playBtn {
    color: rgb(78, 78, 78);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    i {
      font-size: 50px;
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover {
    img {
      opacity: 0.5;
    }
    i {
      color: rgb(240, 167, 33);
    }
  }
}
